@font-face {
    font-family: "Aquire";
    src: url("fonts/AquireLight-YzE0o.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Aquire";
    src: url("fonts/Aquire-BW0ox.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Aquire";
    src: url("fonts/AquireBold-8Ma60.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
.wrapper {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: scale(1.5, 1.5) translate(-50%, -50%);
}

.floor {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  height: 5px;
  background: #673c63;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px #111;
  z-index: 2;
}

.candles {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 150px;
  transform: translate(-50%, -100%);
  z-index: 1;
}

.candle1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 100px;
  background: #fff;
  border: 3px solid #673c63;
  border-bottom: 0px;
  border-radius: 3px;
  transform-origin: center right;
  transform: translate(60%, -25%);
  box-shadow: -2px 0px 0px #95c6f2 inset;
  animation: expand-body 3s infinite linear;
}

.candle1__stick,
.candle2__stick {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 3px;
  height: 15px;
  background: #673c63;
  border-radius: 8px;
  transform: translate(-50%, -100%);
}

.candle2__stick {
  height: 12px;
  transform-origin: bottom center;
  animation: stick-animation 3s infinite linear;
}

.candle1__eyes,
.candle2__eyes {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 35px;
  height: 30px;
  transform: translate(-50%, 0%);
}

.candle1__eyes-one {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #673c63;
  transform: translate(-70%, 0%);
  animation: blink-eyes 3s infinite linear;
}

.candle1__eyes-two {
  position: absolute;
  left: 70%;
  top: 20%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #673c63;
  transform: translate(-70%, 0%);
  animation: blink-eyes 3s infinite linear;
}

.candle1__mouth {
  position: absolute;
  left: 40%;
  top: 20%;
  width: 0px;
  height: 0px;
  border-radius: 20px;
  background: #673c63;
  transform: translate(-50%, -50%);
  animation: uff 3s infinite linear;
}

.candle__smoke-one {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 30px;
  height: 3px;
  background: grey;
  transform: translate(-50%, -50%);
  animation: move-left 3s infinite linear;
}

.candle__smoke-two {
  position: absolute;
  left: 30%;
  top: 40%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: grey;
  transform: translate(-50%, -50%);
  animation: move-top 3s infinite linear;
}

.candle2 {
  position: absolute;
  left: 20%;
  top: 65%;
  width: 42px;
  height: 60px;
  background: #fff;
  border: 3px solid #673c63;
  border-bottom: 0px;
  border-radius: 3px;
  transform: translate(60%, -15%);
  transform-origin: center right;
  box-shadow: -2px 0px 0px #95c6f2 inset;
  animation: shake-left 3s infinite linear;
}

.candle2__eyes-one {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #673c63;
  border-radius: 100%;
  float: left;
  background: #673c63;
  transform: translate(-80%, 0%);
  animation: changeto-lower 3s infinite linear;
}

.candle2__eyes-two {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #673c63;
  border-radius: 100%;
  float: left;
  background: #673c63;
  transform: translate(-80%, 0%);
  animation: changeto-greater 3s infinite linear;
}

.light__wave {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  z-index: 0;
  transform: translate(-25%, -50%) scale(2.5, 2.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  animation: expand-light 3s infinite linear;
}

.candle2__fire {
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 16px;
  height: 20px;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #ff9800;
  transform: translate(-50%, -50%);
  animation: dance-fire 3s infinite linear;
}

@keyframes blink-eyes {
  0%,
  35% {
    opacity: 1;
    transform: translate(-70%, 0%);
  }
  36%,
  39% {
    opacity: 0;
    transform: translate(-70%, 0%);
  }
  40% {
    opacity: 1;
    transform: translate(-70%, 0%);
  }
  50%,
  65% {
    transform: translate(-140%, 0%);
  }
  66% {
    transform: translate(-70%, 0%);
  }
}
@keyframes expand-body {
  0%,
  40% {
    transform: scale(1, 1) translate(60%, -25%);
  }
  45%,
  55% {
    transform: scale(1.1, 1.1) translate(60%, -28%);
  }
  60% {
    transform: scale(0.89, 0.89) translate(60%, -25%);
  }
  65% {
    transform: scale(1, 1) translate(60%, -25%);
  }
  70% {
    transform: scale(0.95, 0.95) translate(60%, -25%);
  }
  75% {
    transform: scale(1, 1) translate(60%, -25%);
  }
}
@keyframes uff {
  0%,
  40% {
    width: 0px;
    height: 0px;
  }
  50%,
  54% {
    width: 15px;
    height: 15px;
    left: 30%;
  }
  59% {
    width: 5px;
    height: 5px;
    left: 20%;
  }
  62% {
    width: 2px;
    height: 2px;
    left: 20%;
  }
  67% {
    width: 0px;
    height: 0px;
    left: 30%;
  }
}
@keyframes change-background {
  0%,
  59%,
  98%,
  100% {
    background: #fff;
  }
  61%,
  97% {
    background: #000;
  }
}
@keyframes move-left {
  0%,
  59%,
  100% {
    width: 0px;
    left: 40%;
  }
  60% {
    width: 30px;
    left: 30%;
  }
  68% {
    width: 0px;
    left: 20%;
  }
}
@keyframes move-top {
  0%,
  64%,
  100% {
    width: 0px;
    height: 0px;
    top: 0%;
  }
  65% {
    width: 10px;
    height: 10px;
    top: 40%;
    left: 40%;
  }
  80% {
    width: 0px;
    height: 0px;
    top: 20%;
  }
}
@keyframes shake-left {
  0%,
  40% {
    left: 20%;
    transform: translate(60%, -15%);
  }
  50%,
  54% {
    left: 20%;
    transform: translate(60%, -15%);
  }
  59% {
    left: 20%;
    transform: translate(60%, -15%);
  }
  62% {
    left: 18%;
    transform: translate(60%, -15%);
  }
  65% {
    left: 21%;
    transform: translate(60%, -15%);
  }
  67% {
    left: 20%;
    transform: translate(60%, -15%);
  }
  75% {
    left: 20%;
    transform: scale(1.15, 0.85) translate(60%, -15%);
    background: #fff;
    border-color: #673c63;
  }
  91% {
    left: 20%;
    transform: scale(1.18, 0.82) translate(60%, -10%);
    background: #f44336;
    border-color: #f44336;
    box-shadow: -2px 0px 0px #f44336 inset;
  }
  92% {
    left: 20%;
    transform: scale(0.85, 1.15) translate(60%, -15%);
  }
  95% {
    left: 20%;
    transform: scale(1.05, 0.95) translate(60%, -15%);
  }
  97% {
    left: 20%;
    transform: scale(1, 1) translate(60%, -15%);
  }
}
@keyframes stick-animation {
  0%,
  40% {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
  }
  50%,
  54% {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
  }
  59% {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
  }
  62% {
    left: 50%;
    top: 0%;
    transform: rotateZ(-15deg) translate(-50%, -100%);
  }
  65% {
    left: 50%;
    top: 0%;
    transform: rotateZ(15deg) translate(-50%, -100%);
  }
  70% {
    left: 50%;
    top: 0%;
    transform: rotateZ(-5deg) translate(-50%, -100%);
  }
  72% {
    left: 50%;
    top: 0%;
    transform: rotateZ(5deg) translate(-50%, -100%);
  }
  74%,
  84% {
    left: 50%;
    top: 0%;
    transform: rotateZ(0deg) translate(-50%, -100%);
  }
  85% {
    transform: rotateZ(180deg) translate(0%, 120%);
  }
  92% {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
  }
}
@keyframes expand-light {
  10%,
  29%,
  59%,
  89% {
    transform: translate(-25%, -50%) scale(0, 0);
    border: 2px solid rgba(255, 255, 255, 0);
  }
  90%,
  20%,
  50% {
    transform: translate(-25%, -50%) scale(1, 1);
  }
  95%,
  96%,
  26%,
  27%,
  56%,
  57% {
    transform: translate(-25%, -50%) scale(2, 2);
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
  0%,
  28%,
  58%,
  100% {
    transform: translate(-25%, -50%) scale(2.5, 2.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
}
@keyframes dance-fire {
  59%,
  89% {
    left: 40%;
    width: 0px;
    height: 0px;
  }
  90%,
  0%,
  7%,
  15%,
  23%,
  31%,
  39%,
  47%,
  55% {
    left: 40.8%;
    width: 16px;
    height: 20px;
    background: #ffc107;
  }
  94%,
  3%,
  11%,
  19%,
  27%,
  35%,
  43%,
  51%,
  58% {
    left: 41.2%;
    width: 16px;
    height: 20px;
    background: #ff9800;
  }
}
@keyframes changeto-lower {
  0%,
  70%,
  90% {
    padding: 0px;
    display: inline-block;
    border-radius: 100%;
    background: #673c63;
    border-width: 0 0 0 0;
    border: 0px solid #673c63;
    transform: translate(-90%, 0%);
  }
  71%,
  89% {
    background: none;
    border: solid #673c63;
    border-radius: 0px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 1px;
    float: left;
    transform-origin: bottom left;
    transform: rotate(-45deg) translate(-50%, -65%);
    -webkit-transform: rotate(-45deg) translate(-50%, -65%);
  }
}
@keyframes changeto-greater {
  0%,
  70%,
  90% {
    top: 50%;
    padding: 0px;
    display: inline-block;
    border-radius: 100%;
    background: #673c63;
    border-width: 0 0 0 0;
    border: 0px solid #673c63;
    transform: translate(-80%, 0%);
  }
  71%,
  89% {
    top: 30%;
    background: none;
    border: solid #673c63;
    border-radius: 0px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 1px;
    float: left;
    transform-origin: bottom left;
    transform: rotate(135deg) translate(-80%, 20%);
    -webkit-transform: rotate(135deg) translate(-80%, 20%);
  }
}

body {
    margin: 0;
    font-family: "Segoe UI", system-ui, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364, #3a6073);
    background-attachment: fixed;
    color: #e5e7eb;
}
.navbar {
    position: fixed;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    height: 54px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg,
            rgba(56, 189, 248, 0.25));
    backdrop-filter: blur(5px);
    border-radius: 28px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}
.navbar button{
    position: absolute;
    right: 16px;
}
#t
{
    font-size: larger;
    color: #64abca;
}
.navbar img
{
    position: absolute;
    right: 170px;
}
#nameofuser{
    position: relative;
    right: 110px;
}
#cart {
    color: #e5e7eb;
    font-size: 20px;
    text-decoration: none;
    transition: transform .2s ease, color .2s ease;
}

#cart:hover {
    transform: scale(1.08);
    color: #b1daeb;
}

.navbar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid rgba(34, 32, 32, 0.4);
}

#nameofuser {
    position:absolute;
    font-size: 15px;
    font-weight: 900;
    color: #e2e8f0;
}

.navbar button {
    background: linear-gradient(135deg, #f43f5e, #fb7185);
    border: none;
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: transform .2s ease, box-shadow .2s ease;
}

.navbar button:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 10px 25px rgba(244, 63, 94, 0.5);
}

.test {
    display: block;
    margin: 100px auto 60px;
    max-width: 80%;
    border-radius: 24px;
}
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
    padding-bottom: 80px;
}
#products>div {
    width: 30%;
    min-width: 260px;
    padding: 18px;
    background-color: #2c5364;
    border: 1px solid rgba(19, 18, 18, 0.15);
    border-radius: 18px;
    text-align: center;
    transition: transform .25s ease,  box-shadow .25s ease , color .3s ease-in-out;
}

#products>div:hover {
    transform: translateY(-8px);
    background: rgba(56, 189, 248, 0.18);
    border: 1px solid #38bdf8;
    box-shadow:
            0 0 0 1px rgba(56, 189, 248, 0.5),
            0 25px 45px rgba(0, 0, 0, 0.6);
}

#products h1 {
    font-family: "Aquire", sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin: 8px 0;
}

#products h3 {
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 10px;
}
#products>div img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;
    transition: transform .3s ease;
}

#products>div:hover img {
    transform: scale(1.05);
}

#products>div button {
    display: block;
    margin: 16px auto 0;
    padding: 7px 18px;
    background: linear-gradient(135deg, #22c55e, #16a34a);
    color: white;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    font-size: 14px;
    transition: transform .15s ease, box-shadow .15s ease;
}

#products>div button:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(34, 197, 94, .6);
}

#products>div button:active {
    transform: scale(0.95);
}

@media(max-width:700px) {
    #products>div {
        width: 48%;
    }
}

@media(max-width:480px) {
    .test {
        display: none;
    }

    #products>div {
        width: 90%;
    }

    #nameofuser {
        display: none;
    }
}
#searchInput {
    display: block;
    margin-top: 3px;
    margin-left: 100px;
    width: 60%;
    max-width: 420px;
    padding: 10px 16px;
    border-radius: 22px;
    border: 2px solid rgba(110, 107, 107, 0.3);
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(1px);
    color: #36373a;
    font-size: 14px;
    outline: none;
    transition: all 0.2s ease;
}

#searchInput::placeholder {
    color: #90b3e3;
}
#searchInput:focus
{
    transform: scale(1.05);
    background-color: #e8eaed;
}
:target {
    outline: 3px solid #f8fdff;
    transform: translateY(-8px);}
#shopt {
    background-image: url(images/18-fractal-glass-hero-bg.jpg);
    background-clip: text;
    color: transparent;
    text-align: center;
    font-family: "Aquire", sans-serif;   
    font-size: 50px;
    letter-spacing: 2px;
    margin-left: 170px;
    animation: animate 8s ease infinite;
}
#ta
{
    font-size: 60px;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    50%
    {
        background-position: 60%;
    }
    100%
    {
        background-position: 10%;
    }
}
#products
{
    margin-top: 140px;
}
@media (max-width: 600px) {
    .test {
        display: none;
    }
}
@media (max-width: 600px) {


    #products
    {
        margin-top: 70px;
    }
    #products>div {
        width: 25%;
        height: 90px;
        min-width: unset;
    
    }

    #products h1 {
        margin: 0;
        font-size: 10px;
    }

    #products h3 {
        font-size: 8px;
        margin: 0%;
    }

    #products>div img {
        width: 100%;
        height: 30px;
        margin: 0%;
    }
    #products>div button
    {
        font-size: 5px;
        margin-top: 8px;
    }
}
@media (max-width: 600px) {

    .navbar {
            height: 20px;
            padding: 8px 6px;
            gap: 6px;
        }
    #shopt {
        position: relative;
        right: 20px;
        font-size: 11px;
        margin: 0;
        width: 100%;
    }

    #ta {
        font-size:12px;
    }
    #searchInput {
        width: 50%;
        max-width: 100%;
        margin: 0;
        font-size: 7px;
        height: 1.2px;
    }

    #nameofuser {
        position: absolute;
        font-size: 8px;
        margin-top: 4px;
        margin-left: 60px;
    }

    #cart {
        font-size: 9px;
        margin-bottom: 0px;
        margin-left: 3px;
    }
    .navbar button
     {
        font-size: 6px;
        padding: 3px;
        border-radius: 9px;
        margin-top: 4px;
        width: 30px;
        height: 17px;
        position: absolute;
        right: 10px;
    }

}

